<md-content id="map"></md-content>

<md-toolbar class="tool-common-panel tool-common-size" layout="column" >
<md-button class="tool-common-button-size tool-common-button-gap tool-common-button-height-1" style="background-color: red; padding-top: 0px; padding-left: 0px;" ng-repeat="geomCat in geomCategories" ng-click="addInteraction(geomCat.name)">
<img aria-label="{{geomCat.name}}" ng-src="{{'img/'+ geomCat.img }}" style="width: 35px; height: 35px; " />
</md-button>

</md-toolbar>

<!-- new -->
<div ng-controller="BackgroundCtrl" class="background-attr">
	<md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" >
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-warn">
				<md-icon md-svg-src="img/Blank_US_Map.svg"></md-icon>
			</md-button>
		</md-fab-trigger>

		<md-fab-actions>
			<md-button  class="md-fab md-raised md-mini">
				<md-icon md-svg-src="img/settings.svg"></md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>
<!-- end -->
