/*CSS STYLE*/
/*for firefox*/
.map {width:1860px; height:900px;}
/*for chrome*/
/*.map {width:1850px; height:900px;}*/

.overflow {overflow: hidden;}

.s60 {
  height:45px;
  width:45px;
}
.s38 {
  height:38px;
  width:38px;
}
.small {
  max-width: 300px;
}
.background-attr {
  position: absolute; 
  bottom: 0px; 
  right: 0px;
  z-index:10;
}
.search-bar {
  background: #fff;
  border: #b7b7b7 solid 1px;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 420px;
}
ng-md-icon.login {
  position: relative;
  bottom: 15px;
  right: 30%;
}

 hr.hr-gl-tp { 
  position: relative;
  top:-3px;
  border:none;
  border-top:1px solid #0091EA;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

 md-toolbar.toolbar-left-nav-bar {
  background-color: #212121;
  background: #212121 url("../img/banner.jpg") repeat;
  width: auto;
  margin-right: 2px;
  box-shadow: 5px 5px 5px grey;
}
/*giveup*/
.md-button.toolbar-left-nav-bar-button {
  overflow:hidden;
  height: 50px;
  width: 52px;
  border-radius:20%;
  margin-left:auto;
  margin-right:auto; 
  margin-top: 10px;
  text-align:center;
  position:relative;
  border:1px solid #d0d0d0;
  border:  #b4b4b4 solid ;
  border-width: 1px 1px 1px 0px;
  box-shadow: 20px 20px 20px black;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 10%, #e2e2e2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ffffff), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 10%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 10%,#e2e2e2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 10%,#e2e2e2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 10%,#e2e2e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

.md-button.toolbar-left-nav-bar-button-account {  
  height: 45px;
  width: 45px;
}

 md-toolbar.toolbar-right-top-header {
  background-color: black;
  background: #212121 url("../img/mapAssist-2.jpg") no-repeat;
  background-position: left center;
  background-size:250px 95px;
  min-height:20px;
  height: 65px;
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 0px;
}

md-toolbar.tool-map-common-panel {
  height:300px;
  background-color: rgba(255,255,255,0);
  position: absolute; 
  top: 0px; 
  left: 0px;
  z-index:10;
  margin-left: 20px;
  margin-top:25px;
}
md-toolbar.tool-map-common-size, .md-button.tool-map-common-button-size {
  min-height:0px;
  min-width:0px;
  max-width:300px;
  max-height:600px;
  width:30px;
  box-shadow: 0px 0px 6px grey;
  border-radius: 0px;
}
.md-button.tool-map-common-button-gap {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}
.md-button.tool-map-common-button-height-1 {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;


  background-color: grey; 
  padding-top: 0px;
  padding-bottom: 0px;  
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  border:  #b4b4b4 solid ;
  border-width: 1px 1px 1px 1px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 10%, #e2e2e2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ffffff), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 10%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 10%,#e2e2e2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 10%,#e2e2e2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 10%,#e2e2e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
.tool-map-common-button-image {
  position: relative;
  top:-2px;
  left:-1px; 
  width: 30px; 
  height: 30px;

}
.menu-color {color: #81d4fa;}
fieldset {
  border: 2px solid grey;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 0px 0px 0 5px;
  min-height: 100px;
  line-height: 35px;
  padding-top: 0px;
}

/*.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }*/