<!doctype html>
<html lang="en" ng-app="ma-app">
<head>

    <meta charset="utf-8"/>
    <meta name="description" content="MapAssist"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MapAssist</title>
    <link rel="icon" ng-href="img/crotec.png"/>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="angular-material/angular-material.css"/>
<!--     <link rel="stylesheet" href="openlayers/dist/ol.css" type="text/css" /> -->
<link rel="stylesheet" href="http://openlayers.org/en/v3.9.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="hover.css/css/hover.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="ng-dialog/css/ngDialog.css"/>
    <link rel="stylesheet" href="ng-dialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="ng-dialog/css/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="ng-dialog/css/ngDialog-custom-width.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" type="text/css"/>
    -->
    <!-- <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css" type="text/css"/>
    -->
    <link rel="stylesheet" href="css/app.css"/>
    <!--External JS Libraries -->
    

    <!-- ANGULAR JS Libraries -->
    <script src="jquery/dist/jquery.js"></script>
    <script src="angular/angular.js"></script>

<script src="http://openlayers.org/en/v3.9.0/build/ol.js"></script>
    <script src="proj4/dist/proj4.js" type="text/javascript"></script>
    <script src="external/proj4-defs.js" type="text/javascript"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-material/angular-material.js"></script>
    <script src="angular-resource/angular-resource.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="api-check/dist/api-check.js"></script>
    <script src="bootstrap-gh-pages/ui-bootstrap-0.13.4.js" type="text/javascript"></script>
    <script src="bootstrap-gh-pages/ui-bootstrap-tpls-0.13.4.js" type="text/javascript"></script>
    <script src="ng-dialog/js/ngDialog.js" type="text/javascript"></script>

    <!-- App Dependencies -->
    <script src="js/app.js"></script>
    <script src="js/api.js"></script>
    <script src="js/controllers/controllers.js"></script>
    <script src="js/controllers/wfs.js"></script>
    <script src="js/controllers/settings.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/resources.js"></script>
    <script src="js/services.js"></script>


</head>


<body layout="row" ng-controller="MainCtrl">
    <!--Left Side Panel Bar-->
    <md-toolbar layout="column" class="toolbar-left-nav-bar" ng-controller="settingCtrl-1">
        <!-- APP MENU SEETING -->
        <md-button class="md-icon-button md-raised toolbar-left-nav-bar-button hvr-grow" title="Menu" ng-click= "clickToOpen()">menu</md-button>

        <md-button class="md-icon-button md-raised toolbar-left-nav-bar-button hvr-grow" title="Menu">menu</md-button>
        <md-button class="md-icon-button md-raised toolbar-left-nav-bar-button hvr-grow" title="Menu">menu</md-button>
        <md-button class="md-icon-button md-raised toolbar-left-nav-bar-button hvr-grow" title="Menu">menu</md-button>
        <md-button class="md-icon-button md-raised toolbar-left-nav-bar-button hvr-grow" title="Menu">menu</md-button>

        <!-- test -->
        <!-- <button popover-placement="right" popover="On the Right!" type="button" class="btn btn-default">Right</button>
    -->
    <!-- test end -->
    <!-- LOGIN -->
    <div layout="column" layout-align="end center" flex>
        <md-button aria-label="login" class="md-icon-button  hvr-float-shadow" ng-click= "LoginDialog($event)">
            <md-icon aria-label="login_icon" md-svg-icon="img/account_circle.svg" class="s60"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<!--Right Main Section-->
<div layout = "column" layout-fill class="overflow">
    <!-- Header and Toolbar -->
    <md-toolbar  class="toolbar-right-top-header" layout="row" layout-align="end center">
        <!-- Test to connect Node.js -->
        <div ng-controller="testController" style="color: white;" flex="55">{{showResult}}</div>

        <!-- MAP MENU -->
        <!-- support chrome -->
        <!-- mapWidthStyle={'width':'2065px'}; -->
        <!-- mapWidthStyle={'width':'1850px'}; -->
        <md-button ng-click="toggleMapSidenav('right');"hide-sm hide-md hide-lg class="md-icon-button hvr-grow" menucolor>
            <md-icon aria-label="Menu" md-svg-icon="img/ic_menu_48px.svg" class="s38"  ng-class="{'menu-color': boolChangeColor}" ></md-icon>
        </md-button>

    </md-toolbar>
    <!-- Main Part -->
    <md-content layout="row">
        <!-- Map Viewer -->
        <md-content ng-view flex class="overflow"></md-content>
        <!-- Right Navigation bar -->
        <md-sidenav style=" " ng-show="isShow" class=" md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-lg')"></md-sidenav>
    </md-content>
</div>
</body>
</html>